.conteiner{
    background-color: white;

}

.title{
    padding: 25px 0;
    display: flex;
    justify-content: space-between;
}


.title li {
    display: flex;
    width: 200px;
    justify-content: center;
    align-items: center;

}