.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(94, 93, 93, 0.5);
  z-index: 1;
}

.wrapper {
  position: relative;
  max-width: 430px;
  width: 100%;
  background: #fff;
  padding: 34px;
  border-radius: 6px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  z-index: 2;
}
  .wrapper h2{
    position: relative;
    font-size: 22px;
    font-weight: 600;
    color: #333;
  }

  .wrapper form{
    margin-top: 30px;
  }
  .wrapper form .inputBox{
    height: 52px;
    margin: 18px 0;
  }
  form .inputBox input, 
  .button{
    height: 100%;
    width: 100%;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-weight: 400;
    color: #333;
    border: 1.5px solid #C7BEBE;
    border-bottom-width: 2.5px;
    border-radius: 6px;
    transition: all 0.3s ease;
  }
  .inputBox input:focus,
  .inputBox input:valid
  .button:focus,
  .button:valid{
    border-color: rgba(250, 2, 5, 0.658);
  }
  .button{
    cursor: pointer;
  }